*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root{
    font-size: 18px;
    --gold:#D5966C;
    --black:#151515;
    --grey:#444444;
    --white:#FFFFFF;
    --shoulder:Big Shoulders Display;
    --outfit:Outfit;
}
body{
    min-width: 100vw;
}
.map{
    width: 100%;
    position: relative;
}
.map-img{
    width: 100%;
    max-height: 38rem;
    filter: grayscale(100%);
}
.btn{
    text-decoration: none;
    width: 14.45rem;
    height: 4rem;
    background-color: var(--black);
    font-family: var(--shoulder);
    font-size: 1.25rem;
    color: white;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 2rem;
    position: absolute;
    top: 0;
    left: 10%;
}
.btn-icon{
    width: 3.1rem;
    height: 100%;
    background-color: var(--gold);
    font-size: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn:hover{
    background-color: var(--gold);
}
.btn:hover i{
    background-color: var(--black);
}
.pointer{
    position: absolute;
    top: 42%;
    left: 47%;
}
.location{
    width: 100%;
    background-color: var(--black);
    display: flex;
    justify-content: space-around;
    gap: 30%;
    padding: 3rem 2rem;
}
.location-heading{
    color: var(--white);
    font-family: var(--shoulder);
    font-size: 3.89rem;
    line-height: 3.89rem;
}
.location-body{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.street{
    color: var(--gold);
    font-family: var(--shoulder);
    font-size: 2rem;
    line-height: 2rem;
}
.address{
    color: var(--white);
    font-family: var(--outfit);
    font-size: 1.23rem;
    line-height: 1.78rem;
}
.details{
    color: var(--white);
    font-family: var(--outfit);
    font-size: 1.23rem;
    line-height: 1.78rem;
    text-align: justify;  
}
/* footer section */
footer{
    width: 100%;
    background-color: var(--gold);
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1rem;
}
.footer-logo{
    width: 9rem;
    height: 3.1rem;
}
.footer-content{
    color: var(--black);
    font-size: 1rem;
    width: 26.88rem;
    padding: .5rem;
    line-height: 1.56rem;
}
.footer-social-media{
    color: var(--black);
}
.footer-social-media i{
    margin-left: .5rem;
}
.footer-social-media i:hover{
    color: var(--white);
}

@media (max-width:1000px){
    :root{
        font-size: 16px;
    }
    .map-img{
        height: 100%;
        object-fit: fill;
    }
    .pointer{
        height:3rem;
        width: 4rem;
    }
    .location{
        padding: 2rem;
        gap: 5rem;

    }
    .location-heading{
        font-size: 3.4rem;
        line-height: 3.1rem;
    }
    .address{
        font-size: 1.125rem;
        line-height: 1.75rem;
    }
    .details{
        font-size: 1.125rem;
        line-height: 1.75rem;
    }
    .footer-logo{
        height: 2.5rem;
        width: 6.9rem;
    }
    
    .footer-content{
        line-height: 1.63rem;
        width: 17.56rem;
        padding:0;
    }
}
@media (max-width:600px){
    .btn{
        left: 0;
        width: 12.45rem;
        height: 3rem;
    }
    .location{
        flex-direction: column;
    }
    .location-heading{
        font-size: 3.125rem;
        line-height: 2.8rem;
    }

    footer{
        flex-direction: column;
        align-items: flex-start;
        gap: 2rem;
    }
}